doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')

		block css
			
	body
		#hahaha
			img(src='../../images/hahaha.png', width='100%', alt='HAHAHA-Classic')
		#header-pages
			//-span A-HA-HA classic!
			
		block content

		block page-js

